.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logocyber{
  width: 200px;
}
.footer{
  padding-top: 50px;
  margin-top: 50px;
  min-height: 50vh;
}

.doitac a img{
  width: 50%;
}
.gird-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-gap: 10px;
  padding: 10px;
}

.mobile a img{
  width: 50px;
}
.social a img{
  width: 50px;
}


/* carousel */
#carousel {
  background-image: url("./pages/images/marvels-spider-man-remastered-danh-gia-game-10.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}



#carousel .carousel__content p {
  font-size: 1.5rem;
}

#carousel .carousel__content h1 {
  font-size: 4rem;
}

#carousel .carousel__content button {
  background-color: #e62b4a;
  color: white;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: all 0.5s;
}

#carousel .carousel__content button:hover {
  background-color: #af2239;
}



/*  */

.background-css{
  height: 300px;
  object-fit: cover;
  object-position: 0% 20%;
}

li{
  list-style: none;
}

/* detail */
.details-css{

  width: 200px;
}
.details_css{
  margin-top: 20px;

}
.details_content{
  min-width: 60%;
}